.image-text {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.image-text:hover {
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.image:hover + .image-text {
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
